extends ./layout
include ./header

block title
    title= 'IKLANT-AssignRO'

block scripts
    include ./headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/javascripts/assignRO.js')

block content
    form(id="assignROFormId")
        div(data-role='page', data-theme='b', id="gridplus")
            +header("NPA Loan Recovery",["menu","logout"],"",[])
            div(data-role="navbar")
                ul
                    li
                        a(onclick="javascript:$.mobile.showPageLoadingMsg();",href=contextPath + '/client/ci/NPALRGroups/assignROLoad', rel="external", data-role="tab" , id="assignRONavBarId",class="ui-btn-active") Assign Recovery Officer
                    li
                        a(onclick="javascript:$.mobile.showPageLoadingMsg();",href=contextPath + '/client/ci/searchnpa',rel="external", data-role="tab") Search NPA
            div
                br
                br
                p(id ='errorField',data-theme="e",align='center',class='error-message global-font-details')
                p(id ='successField',data-theme="e",align='center',class='success-message global-font-details') #{statusMsg}
                div(data-role='horizontal', id="pagination-div",style="width:100%")
                    div(class='ui-block-a',style="width:20%",align="center")
                        select(name='branches', onchange='JavaScript:onchangeSearchCriteriaBranchAssign()', data-theme="b", id='branches',data-inline='true', data-icon='arrow-d', data-mini='true',data-native-menu="true")
                                option(value='-1') All
                                -if(officeNames){
                                    -for(var i=0;i<officeIds.length;i++) {
                                        option(value=officeIds[i]) #{officeNames[i]}
                                    -}
                                -}
                div(data-role='horizontal', id="pagination-div",style="width:100%")
                    div(id="list-pagination",class="ui-block-a",style="width:48%",align="center")
                    div(class="ui-block-b",style="width:20%",align="center")
                        select(name='selectRO', data-theme="b", id='selectROId',data-inline='true', data-icon='grid', data-mini='true', data-native-menu="true")
                            option(value='0') Select RO
                            option(value='-1') Not Assigned
                            -for(var j=0;j<userId.length; j++) {
                                option(value="#{userId[j]}",id="#{userId[j]}",title="#{userOfficeId[j]}") #{userName[j]}
                            - }
                    div(class="ui-block-c",align="center",style="width:6%")
                        a(href="JavaScript:roFilter();", rel="external", data-role='button', title='roFilter', data-inline="true",data-mini="true") RO Filter
                    div(class="ui-block-c",align="center",style="width:6%")
                        a(href="JavaScript:assignFOSubmission(#{totalRecords});", rel="external", data-role='button', title='assign', data-inline="true",data-mini="true") Assign
            -if(NPALoanRecoveryGroupsObject.length > 0){
                br
                table(id="pagination-table",class="custom-table")
                    tr
                        th(align="center",width="4%") Check
                        th(align="center",width="10%") Office
                        th(align="center",width="10%") Account Number
                        th(align="center",width="8%") Group Code
                        th(align="center",width="20%") Group Name
                        th(align="center",width="20%") Address
                        th(align="center",width="8%") Recovery Officer
                        th(align="center",width="10%") Client Info
                        th(align="center",width="7%") Overdue Amount
                        th(align="center",width="5%") Arrear Days
                    -for(var i=0;i<NPALoanRecoveryGroupsObject.length;i++) {
                        tr
                            td
                                input(type="checkbox", name='checkGroup'+i, id='checkGroupId'+i, data-theme="c", data-inline="true",style="width:15px;height:15px",onclick="selectedAccounts(event,#{NPALoanRecoveryGroupsObject[i].getAccountId()},#{NPALoanRecoveryGroupsObject[i].getCustomerId()},'#{NPALoanRecoveryGroupsObject[i].getGroupName()}','#{NPALoanRecoveryGroupsObject[i].getOfficeId()}')")
                            td #{NPALoanRecoveryGroupsObject[i].getOffice()}    
                            td #{NPALoanRecoveryGroupsObject[i].getGlobalAccountNum()}
                            td #{NPALoanRecoveryGroupsObject[i].getGroupCode()}
                            td #{NPALoanRecoveryGroupsObject[i].getGroupName()}
                            td #{NPALoanRecoveryGroupsObject[i].getGlAddress()}
                            td 
                                -if(NPALoanRecoveryGroupsObject[i].getRecoveryOfficer()){
                                    span(style="color:#e60000") #{NPALoanRecoveryGroupsObject[i].getRecoveryOfficer()}
                                -}
                                -else{
                                    span(class="success-message" style="margin:0px !important") Not Assigned
                                -}
                            td(align="center") 
                                a(href="JavaScript:showClientDetails('#{NPALoanRecoveryGroupsObject[i].getAccountId()}');", data-icon='', data-role='button',id='clientDetailsId', title='view', data-rel='popup', data-position-to='window', data-transition='pop', data-inline='true', data-mini='true') View Details
                            td(align="right") #{NPALoanRecoveryGroupsObject[i].getOverdueAmount()}
                            td(align="right") #{NPALoanRecoveryGroupsObject[i].getArrearDays()}
                    -}
                br
            -}else{
                p(id='alertMessage',align='center',class='error-message global-font-details') No records found
                div(data-role='horizontal', id="pagination-div",style="width:100%;margin-top:10%")
                    div(id="list-pagination",class="ui-block-a",style="width:100%")
                        
            -}
            input(type="hidden",name="isCheckedGroup",id="isCheckedGroupÏd")
            input(type="hidden",name="accountId",id="accountIdÏd")
            input(type="hidden",name="customerId",id="customerIdÏd")
            input(type="hidden",name="groupName",id="groupNameÏd")
            input(type="hidden",name="officerName",id="officerNameÏd")
            input(type="hidden",id="totalRecords",name="totalRecords",value=totalRecords)
            input(type="hidden",id="selectedPage",name="selectedPage",value=selectedPage)
            div(data-role='content',id="closedGroupsDivId")
                div(class='content-primary')
                    ul(data-role='listview', data-split-icon='gear', data-split-theme='b', data-filter="true", data-filter-theme='c',  data-filter-placeholder='Search for a result')
                        p(id='alertMessage',align='center')
                        - for( var i = 0; i <NPALoanRecoveryGroupsStatusObject.length; i++ ) {
                            - if(NPALoanRecoveryGroupsStatusObject[i].getIsRecovered() != 2){
                                li
                                    - if(NPALoanRecoveryGroupsStatusObject[i].getIsRecovered() == 3 || NPALoanRecoveryGroupsStatusObject[i].getIsRecovered() == 4) {
                                        a(href="#closedGroupPopupId", id='groupListId'+i, data-rel="popup", data-position-to="window", data-transition="flow",)
                                            img(src='/images/edit.png', width='60', height='60', style='margin:8px 10px 10px 20px;')
                                            h3 #{NPALoanRecoveryGroupsStatusObject[i].getGroupName()}
                                            label(for='groupsId' , id='labelGroupsId'+i) #{NPALoanRecoveryGroupsStatusObject[i].getLoansStatusDescription()}
                                        a(href='#',  data-split-icon='gear', data-rel='popup', data-position-to='origin', data-transition='pop')
                                    -}
                                    - else {
                                        a(href="", id='groupListId'+i, data-rel="popup", data-position-to="window", data-transition="flow",)
                                            img(src='/images/edit.png', width='60', height='60', style='margin:8px 10px 10px 20px;')
                                            h3 #{NPALoanRecoveryGroupsStatusObject[i].getGroupName()}
                                            label(for='groupsId' , id='labelGroupsId'+i) #{NPALoanRecoveryGroupsStatusObject[i].getLoansStatusDescription()}
                                        a(href='#',  data-split-icon='gear', data-rel='popup', data-position-to='origin', data-transition='pop')
                                    - }

                            -}
                        -}
                        input(type="hidden",id="noOfGroupId",value="#{NPALoanRecoveryGroupsStatusObject.length}")
            div(data-role='content',id="malpracticeGroupsDivId")
                div(class='content-primary')
                    ul(data-role='listview', data-split-icon='gear', data-split-theme='b', data-filter="true", data-filter-theme='c',  data-filter-placeholder='Search for a result')
                        p(id='alertMessage',align='center')
                        - for( var i = 0; i <NPALoanRecoveryGroupsStatusObject.length; i++ ) {
                            - if(NPALoanRecoveryGroupsStatusObject[i].getIsRecovered() == 2){
                                li
                                    a(href="",id='groupListId'+i,)
                                        img(src='/images/edit.png', width='60', height='60', style='margin:8px 10px 10px 20px;')
                                        h3 #{NPALoanRecoveryGroupsStatusObject[i].getGroupName()}
                                        label(for='groupsId' , id='labelGroupsId'+i) #{NPALoanRecoveryGroupsStatusObject[i].getLoansStatusDescription()}
                                    a(href='#',  data-split-icon='gear', data-rel='popup', data-position-to='origin', data-transition='pop')
                            -}
                        -}
            -var reasonForNotPaid = new Array();
            -var capablilityPercentage = new Array();
            -var expectedPaymentDate = new Array();
            -var remarks = new Array();
            -var statusId = new Array();

            -for(var i=0; i<NPALoanRecoveryGroupsStatusObject.length; i++){
                - reasonForNotPaid[i] = NPALoanRecoveryGroupsStatusObject[i].getReasonForNotPaid();
                - capablilityPercentage[i] = NPALoanRecoveryGroupsStatusObject[i].getCapablilityPercentage();
                - expectedPaymentDate[i] = NPALoanRecoveryGroupsStatusObject[i].getExpectedPaymentDate();
                - remarks[i] = NPALoanRecoveryGroupsStatusObject[i].getRemarks();
                - statusId[i] = NPALoanRecoveryGroupsStatusObject[i].getIsRecovered();
            -}
            div(data-role="popup" , id="closedGroupPopupId", class="ui-content", style="width:400px")
                a(href="#", data-rel="back", data-role="button", data-theme="a", data-icon="delete", data-iconpos="notext", class="ui-btn-right") Close
                div(id="parentPopupDivId")
                    div(id="reasonPopupDivId")
            
                    div(data-mini="true")
                        label(for="activityId", data-inline="true",class='label') Activity*
                        input(type="text", name="activityName",autocomplete="off", id="activityId", value="")
                    div(data-mini="true")
                        label(for="expectedDateLabel", data-inline="true",class='label') Expected Due Date*
                        input(type="text", name="expectedDateName",autocomplete="off", id="expectedDateId", value="",readonly="readonly")
                    div(data-mini="true")
                        label(for="expectedTimeLabel", data-inline="true",class='label') Expected Time*
                        input(type="text", name="expectedTimeName",autocomplete="off", id="expectedTimeId", value="",maxlength="2")
                    div(data-inline="true")
                        a(href='#addPlanPopupId',  rel="external",data-icon='check', data-role='button', title=' Add ', data-inline="true", id='addPlan') Add
                        a(href='#addPlanPopupId', rel="external",data-icon='back', data-role='button', title=' Back', data-inline="true") Back
            div(data-role="popup",id="clientDetailsPopup",data-corners="true",data-theme="b",data-shadow="true",style="width:700px;height:350px;")
                    a(href="#",data-rel="back",data-role="button",data-theme="a",data-icon="delete",data-iconpos="notext",class="ui-btn-right") Close
                    div(data-role="navbar")
                        ul(id="custom-nav-list")
                            li
                                a(href="", rel="external", data-role="tab" , id="") Client  Details
                    div(data-role="horizontal",class="ui-bar ui-grid-c")
                        div(class='ui-block-a')
                            a(href='#', data-icon='arrow-l',data-iconpos="left", data-role='button',id='clientListPrevId',data-inline='true', data-mini='true') Prev
                        div(class='ui-block-b')
                            a(href='#', data-icon='check', data-role='button',id='clientListPageNoId',data-inline='true', data-mini='true')
                        div(class='ui-block-c',style="float:right")
                            a(href='#', data-icon='arrow-r',data-iconpos="right",data-role='button',id='clientListNextId',data-inline='true', data-mini='true') Next
                    div(data-role="content",id="clientListDivId",style = "overflow: auto;")

            input(type="hidden",name="reasonForNotPaid",id="reasonForNotPaidId",value=reasonForNotPaid)
            input(type="hidden",name="capablilityPercentage",id="capablilityPercentageId",value=capablilityPercentage)
            input(type="hidden",name="expectedPaymentDate",id="expectedPaymentDateId",value=expectedPaymentDate)
            input(type="hidden",name="remarks",id="remarksId",value=remarks)
            input(type="hidden",name="statusId",id="statusIdId",value=statusId)
            input(type="hidden",id="isSummary",name="isSummary",value="true")
            div(class="ui-loader-background")