!!! 5
html(lang = "en")
    head
        title= 'IKLANT-NPALoansRecovery'
        meta(charset='utf-8')
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/stylesheets/jquery.mobile-1.3.0-beta.1.min.css")
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        //link(rel='stylesheet', href='/stylesheets/dialogStyleforcca.css')
        link(rel='stylesheet', href='/stylesheets/iklantStyle.css')
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile-1.3.0-beta.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
        script(type='text/javascript', src='/javascripts/constantjs.js')
        script(type='text/javascript', src='/javascripts/groupsForLoanRecovery.js')
        script(type='text/javascript', src='/javascripts/common.js')
    body(style="overflow-x:hidden")
        form(id='recoveryFormID')
            div(data-role='page', data-theme='b')
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a")
                    div(class="ui-block-a")
                        div(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        img(id='groupIcon', src='/images/iklant.png')
                        h3(for="value", style="margin:8px 0 0 10px;") NPA Loans Recovery
                    div(class="ui-block-b",align="right",style="padding:25px 50px 0 0;")
                        a(href=contextPath + '/menu', rel="external",data-icon='grid', data-role='button', title=' Menu', data-inline='true') Menu
                        a(href=contextPath + '/logout',  rel="external",data-icon='back', data-role='button', title=' Logout ', data-inline="true") Logout
                div(data-role="navbar", data-theme='b')
                    ul
                        li
                            a(href="#") NPA Loans Recovery
                div(data-role='content', data-theme='b')
                    div(class='content-primary')
                        ul(data-role='listview', data-split-icon='gear', data-filter="true",  data-filter-placeholder='Search for a group')
                            -for( var i = 0; i < groupDetailsArray.length; i++ ) {
                                li
                                    a(href="JavaScript:getGroupDetailsForLoanRecovery('#{groupDetailsArray[i].getAccountId()}');", rel="external")
                                        img(src='/images/edit.png', width='60', height='60', style='margin:8px 10px 10px 20px;')
                                        h3 #{groupDetailsArray[i].getGroupName()}
                                        label(for='groupsId' , id='labelGroupsId'+i) #{groupDetailsArray[i].getAddress()}
                            -}
                div(class="ui-loader-background")