extends ./layout
include ./header

block title
    title= 'IKLANT-NPALoansRecovery'

block scripts
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    include ./headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/jquery.multiselect.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/jquery.multiselect.js')
    script(type='text/javascript', src='/javascripts/groupsDetailsForRecoveryReadOnly.js')

block content
    form(id='recoveryFormID',enctype="multipart/form-data")
        div(data-role='page', data-theme='b')
            +header("NPA Loans Recovery",["menu","backHref","logout"],contextPath + '/client/ci/searchnpa',[])
            div(data-role="navbar", data-theme='b')
                ul
                    li
                        a(href="#") Group Details For Recovery
            p(id ='errorField',data-theme="e",align='center') #{alertMsg}
            div(data-role="content")
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Group Name
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getGroupName()}
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Address
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getAddress()}
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Loan Officer
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getLoanOfficer()}
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Demanded Amount
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getAmountDemanded()}

                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Paid Amount
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getAmountPaid()}
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            label(for='groupname',id='labelid') Overdue Amount
                    div(class='ui-block-b',align='left')
                        div(data-role="fieldcontain")
                            label(for='groupname') #{accountDetailsArray.getAmountOverdue()}
                div(data-role="horizontal",class="ui-bar ui-grid-d")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                        label(for='groupname',id='labelid') Individual Details
                    div(class='ui-block-b')
                        div(data-role="fieldcontain")
                            a(href="JavaScript:showClientList('#{accountDetailsArray.getAccountId()}');",id="custommainTab",data-theme="b",data-rel="popup",data-transition="slide",data-position-to="window",data-mini="true")
                                img(id='groupIcon', style="margin:5px 10px 0 0; text-align:right;",width="40px",height="40px",src='/images/member.png')
                
                
                -for(var j=0;j<QADeatils.length;j++){
                    div(data-role="collapsible",id="individualDetails", data-collapsed="#{j>0}" style="margin-top:-20px !important")
                        h3 Queries as on #{QADeatils[j].getEnquiryDate()}
                        -for(var k=0,q=QADeatils[j].getQuestionText(),a=QADeatils[j].getAnswerIdArray();k<QADeatils[j].getQuestionText().length;k++){
                            -if(q[k]!='longitude' && q[k]!='lattitude' && a[k]!=='-1' && a[k]!==null && a[k]!==''){
                                div(data-role="horizontal", data-inline="true",class="ui-bar ui-grid-d",id="groupLeaderTraceable")
                                    div(class='ui-block-a',style="width:30%")
                                        div(data-role="fieldcontain")
                                        label(for='groupname',id='labelid') #{q[k]}
                                    div(class='ui-block-b',style="width:30%")
                                        div(data-role="fieldcontain")
                                            label(for="glYesId") #{(a[k]==='1')?'Yes':(a[k]==='0')?'No':a[k]}
                            -}
                        -}
                    -if(j!=QADeatils.length-1){
                        
                        br
                    -}
                -}
                div(data-role="collapsible", data-theme="b")
                    h3 Download Document
                    div(class="ui-bar ui-grid-a")
                        div(class="ui-block-a", style="width:100%")
                            table(class="custom-table")
                                tr
                                    th(width="5%",align="center") S. No
                                    th(width="7%") Doc Type
                                    th Desc
                                    th Doc Name
                                    th(width="7%") Action
                                -for(var i = 0; i<documentsArray.length;i++){
                                    tr
                                        td(align="center") #{i+1}
                                        td #{documentsArray[i].doc_for}
                                        -if(documentsArray[i].client_name){
                                            td #{documentsArray[i].client_name}
                                        -}else{
                                            td #{accountDetailsArray.getGroupName()}
                                        -}
                                        td #{documentsArray[i].account_doc_name}
                                        td(align="center") 
                                            a(href="JavaScript:downloadDocs('#{documentsArray[i].captured_image}')",rel="external", data-role='button', title=' Download ', data-inline='true' , id="downloadDocumentId",data-mini="true") Download
                                -}
                 
                div(data-role="collapsible",id="actionPlanDetails", data-collapsed="true")
                    h3 Add Action Plans
                    div(data-role="horizontal",class="ui-bar ui-grid-d")
                        div(class='ui-block-a',style="width:20%")
                            div(data-role="fieldcontain")
                                p(id="errorLabelPlan",align="center",class="error-message global-font-details")
                                p(id="successMsgPlan",align="center",class="success-message global-font-details")
                    div(data-role="horizontal",class="ui-bar ui-grid-d",style="padding:0px!important")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',class='label',style="margin-right: 7%;") Add Action Plans
                                a(href='#addPlanPopupId', data-icon='plus', data-role='button',id='addPlanId', title='Add', data-rel='popup', data-position-to='window', data-transition='pop', data-inline='true', data-mini='true') Add
                    div(data-role="horizontal",class="ui-bar ui-grid-d",style="padding:0px!important")
                        div(class='ui-block-b',style="width: 100%;")
                            div(data-role="horizontal",class="ui-bar ui-grid-d")
                                div(id='addPlanDivId' style="width: 500px;")
                    div(data-role="horizontal",class="ui-bar ui-grid-d")
                        div(class='ui-block-c',style="width: 30%;")
                            a(href="JavaScript:submitPlans(#{accountDetailsArray.getAccountId()})",rel="external", data-role='button', title=' Save ', data-inline='true' , id="submitPlanButtonId",data-mini="true") Save Action Plans
                            a(href="JavaScript:viewPlans()",rel="external", data-role='button', title=' View ', data-inline='true' , id="submitPlanButtonId",data-mini="true") View Action Plans

                                
                div(data-role="collapsible",id="actionPlanDetails", data-collapsed="false")
                    h3 Status
                    div(data-role="horizontal",class="ui-bar ui-grid-d")
                        div(class='ui-block-a',style="width:20%")
                            div(data-role="fieldcontain")
                                p(id="errorLabelStatus",align="center",class="error-message global-font-details")
                                p(id="successMsg",align="center",class="success-message global-font-details")
                    div(data-role="horizontal",class="ui-bar ui-grid-d")
                        div(class='ui-block-a')
                            select(name='status', data-theme="b", id='status',data-inline='true', data-icon='arrow-d', data-mini='true',data-native-menu="true")
                                    option(value='0') Select Status
                                    -if(statusList){
                                        -for(var i=0;i<statusList.length;i++) {
                                            option(value=statusList[i].status_id) #{statusList[i].status_name}
                                        -}
                                    -}
                    script.
                        $('#status').val(#{accountDetailsArray.getStatusId()})
                    div(data-role="horizontal",class="ui-bar ui-grid-d")    
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                textarea(data-mini="true", name="submitRemarksName",autocomplete="false", id="submitRemarksId") #{accountDetailsArray.getRemarks()}
                        div(class='ui-block-b')
                        div(class='ui-block-c')
                            div(data-role="fieldcontain")
                                a(href="JavaScript:submitRemarks(#{accountDetailsArray.getAccountId()})",rel="external", data-role='button', title=' Submit Remarks ', data-inline='true' , id="submitRemarksButtonId",data-mini="true") Submit Remarks

            div(data-role="popup", id="addPlanPopupId", data-theme="b", data-overlay-theme="b", class="ui-content")
                    h3(align="center") Action Plan Details
                    p(id="errorLabel",align="center",class="error-message global-font-details")
                    div(data-mini="true")
                        label(for="activityId", data-inline="true",class='label') Activity*
                        input(type="text", name="activityName",autocomplete="off", id="activityId", value="")
                    div(data-mini="true")
                        label(for="expectedDateLabel", data-inline="true",class='label') Expected Due Date*
                        input(type="text", name="expectedDateName",autocomplete="off", id="expectedDateId", value="",readonly="readonly")
                    div(data-mini="true")
                        label(for="expectedTimeLabel", data-inline="true",class='label') Expected Time*
                        input(type="text", name="expectedTimeName",autocomplete="off", id="expectedTimeId", value="",maxlength="2")
                    div(data-inline="true")
                        a(href='#addPlanPopupId',  rel="external",data-icon='check', data-role='button', title=' Add ', data-inline="true", id='addPlan') Add
                        a(href='#addPlanPopupId', rel="external",data-icon='back', data-role='button', title=' Back', data-inline="true") Back
                                
            div(data-role="popup",id="recentActivityPopup",data-corners="true",data-theme="b",data-shadow="true",style="width:700px;")
                a(href="#",data-rel="back",data-role="button",data-theme="a",data-icon="delete",data-iconpos="notext",class="ui-btn-right") Close
                div(data-role="navbar")
                    ul(id="custom-nav-list")
                        li
                            a(href="", rel="external", data-role="tab" , id="") Client Residence Details
                div(data-role="fieldcontain")
                    label(for="groupid",id="labelid") Group Name : #{accountDetailsArray.getGroupName()}
                    label(id="groupid")
                div(data-role="horizontal",class="ui-bar ui-grid-c")
                    div(class='ui-block-a')
                        a(href='#', data-icon='arrow-l',data-iconpos="left", data-role='button',id='clientListPrevId',data-inline='true', data-mini='true') Prev
                    div(class='ui-block-b')
                        a(href='#', data-icon='check', data-role='button',id='clientListPageNoId',data-inline='true', data-mini='true')
                    div(class='ui-block-c',style="float:right")
                        a(href='#', data-icon='arrow-r',data-iconpos="right",data-role='button',id='clientListNextId',data-inline='true', data-mini='true') Next
                div(data-role="content",id="clientListDivId",style = "overflow: auto;")
            input(type="hidden",name="accountIdName",id="accountIdID",value="#{accountDetailsArray.getAccountId()}")
            input(type="hidden",name="selectedDocName",id="selectedDocId")
            input(type="hidden",name="listoffice",id="listoffice",value="#{accountDetailsArray.getOfficeId()}")
            input(type="hidden",name="loanOfficer",id="loanOfficer",value="#{accountDetailsArray.getLoanOfficerId()}")

            div(data-role="horizontal", data-inline="true",class="ui-bar ui-grid-d",style="width:100%")
                div(class='ui-block-b',style="width:78%")
                    //a(href=contextPath + '/menu',data-role='button',data-icon="home",data-inline='true', data-mini='true') Home
                div(class='ui-block-e',align="right",style="width:19%")
                    a(href=contextPath + '/client/ci/searchnpa', rel="external",data-icon='back', data-role='button', title=' Back', data-inline='true', data-mini='true') Back
            div(class="ui-loader-background")