doctype html
html(lang = "en")
    head
        //title= title
        block title
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        meta(http-equiv='Cache-Control', content='no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')

        //used in all pages
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/constantjs.js')
        script(src="/socket.io/socket.io.js")
        script(type='text/javascript', src='/javascripts/notification/notificationManagement.js')
        block scripts
        link(rel='stylesheet', href='/stylesheets/common.css')
        script(type='text/javascript', src='/javascripts/common.js')




    body(style="overflow-x:hidden",id='pageID')
        block content