extends ./layout
include ./header

block title
    title= 'Iklant-Menu'

block scripts
    include ./headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/app.css')

block content
    form(id='BMFormId')
        div(data-role='page', data-theme='b', id="menuDisplay")
            +header("",["welcomeNote","changePassword","logout"])
            div(id="menu", data-theme="b", data-overlay-theme="b", class="ui-content", align="center")
                div(id="menuDetails", data-theme="a", class="ui-bar ui-grid-a", data-overlay-theme="b", data-inline="true")
                    div(data-role="horizontal", id="menuDetailsId", data-theme="a", class="ui-bar ui-grid-b", data-overlay-theme="a", data-inline="true")
                        - for (var j = 0; j < menuId.length; j++){
                            div(class="#{j%3 == 0 ? 'ui-block-a' : (j%3 == 1 ? 'ui-block-b' : 'ui-block-c')}")
                                div(data-role="fieldcontain", data-mini="true")
                                    a(href=contextPath + '#{menuUrl[j]}', rel="external", title=' #{menuName[j]} ', data-inline='true')
                                        img(id= '#{menuName[j]}', src= '#{menuImgLocation[j]}',height='128',width='128')
                                        h3(class="menu-label") #{menuName[j]}
                        -}
            div(class="ui-loader-background")