doctype
html(lang = "en")
    head
        title= 'IKLANT-TODO'
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/dialogStyle.css')
        link(rel='stylesheet', href='/stylesheets/iklantStyle.css')
        script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile.js')
        script(type='text/javascript', src='/javascripts/constantjs.js')
        script(type='text/javascript', src='/javascripts/NPALRTodo.js')
        script(type='text/javascript', src='/javascripts/common.js')
    body(style="overflow-x:hidden")
        form(id="todoFormId")
            div(data-role='page', data-theme='b', id="gridplus")
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a",data-position="fixed")
                    div(class="ui-block-a")
                        img(id='groupIcon', src='/images/iklant.png')
                        h3(for="value") #{title}
                    div(class="ui-block-b",align="right",style="padding:28px 50px 0 0;")
                        a(href=contextPath + "/client/ci/menu", rel="external",data-icon='arrow-l', data-role='button', title=' Back', data-inline="true") Back
                        a(href=contextPath + '/client/ci/logout',  rel="external",data-icon='back', data-role='button', title=' Logout ', data-inline="true") Logout
                div(data-role="navbar")
                    ul
                        li
                            a(href=contextPath + '/client/ci/NPALRGroups/todo/current',rel="external", data-role="tab" , id="currentTaskNavBarId") Current Task
                        li
                            a(href=contextPath + '/client/ci/NPALRGroups/todo/future',rel="external", data-role="tab" , id="futureTaskNavBarId") Future Task
                        li
                            a(href=contextPath + '/client/ci/NPALRGroups/todo/overdue',rel="external", data-role="tab" , id="overdueTaskNavBarId") Overdue Task
                        li
                            a(href=contextPath + '/client/ci/NPALRGroups/todo/closed',rel="external", data-role="tab" , id="closedTaskNavBarId",class="ui-btn-active") Closed Task
                -if(roleId != constantsObj.getBDEroleId() && roleId != constantsObj.getFOroleId() && roleId != constantsObj.getLoanRecoveryOfficer()){
                    div(data-theme="b", data-overlay-theme="b", class="ui-content",style="width:100%;font-weight:bold;")
                        div(class="ui-block-a",style="width:6%;padding-top:8px;")
                            label Office
                        div(class="ui-block-b",style="width:20%")
                            select(name='listoffice', id='listoffice', data-theme='b', data-icon='grid', data-inline='true', data-mini='true',onchange="loadFO()")
                                option(value='-1') Select
                                -for(j=0;j<officeIds.length;j++){
                                    -if(selectedOffice == officeIds[j]){
                                        option(value=officeIds[j],selected="selected") #{officeNames[j]}
                                    -}
                                    -else{
                                        option(value=officeIds[j]) #{officeNames[j]}
                                    -}
                                - }
                        div(class="ui-block-c",style="width:10%;padding-top:8px;")
                            label(id="report_label_top") Recovery Officer
                        div(class="ui-block-d",style="width:25%")
                            select(name='loanOfficer', id='loanOfficerId', data-theme='b', data-icon='grid', data-inline='true', data-mini='true',onchange="retrieveTask()")
                                option(value='-1') Select
                                -for(k=0;k<FOIdsArray.length;k++){
                                    -if(selectedRO == FOIdsArray[k]){
                                        option(value=FOIdsArray[k],selected="") #{FONamesArray[k]}
                                    -}else{
                                        option(value=FOIdsArray[k]) #{FONamesArray[k]}
                                    -}
                                -}
                -}
                br
                p(id ='errorField',data-theme="e",align='center')
                -if(taskNameArray.length > 0){
                    table(class="custom-table")
                        tr
                            th(align="center", width="5%") S.NO
                            th(align="center", width="25%") Activity
                            th(align="center", width="12%") Expected Due Date
                            th(align="center", width="10%") Closed Date
                            th Remarks
                            -for(var i=0;i<taskNameArray.length;i++) {
                                tr
                                    td(align="center")    #{i+1}
                                    td #{taskNameArray[i]} - #{customerArray[i]}
                                    td(align="center")    #{dueDateArray[i]}
                                    td(align="center")    #{closedDateArray[i]}
                                    td
                                        label(id="remarksLabel",style="font-size: 15px;color:green;font-weight:bold") #{remarksArray[i]}
                                input(type="hidden", name="taskId", id="taskId"+i, value='#{taskIdArray[i]}')
                            -}
                -}
                input(type="hidden", name="date", id="date", value='#{date}')
                input(type="hidden", name="taskLength", id="taskLength", value='#{taskNameArray.length}')
                div(class="ui-loader-background")