!!! 5
html(lang = "en")
    head
        title= 'IKLANT-LoanSanction'
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        meta(http-equiv='Cache-Control', content='no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')
        link(rel="stylesheet", href="/stylesheets/jquery.mobile-1.3.0-beta.1.min.css")
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/dialogStyle.css')
        link(rel='stylesheet', href='/stylesheets/iklantStyle.css')
        link(rel='stylesheet', href='/stylesheets/loanSanctionCustom.css')
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile-1.3.0-beta.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
        script(type='text/javascript', src='/javascripts/validation.js')
        script(type='text/javascript', src='/javascripts/common.js')
    body
        form(id='preclosureForm')
            div(data-role='page', data-theme='b', id="loginDetailsDiv")
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a", data-overlay-theme="c")
                    div(class="ui-block-a")
                        img(id='groupIcon', style="margin:5px 10px 0 0; text-align:right;",src='/images/iklant.png')
                    div(class="ui-block-b",align="right")
                        a(href=contextPath + '/menu',  rel="external",data-icon='home', data-role='button', title=' Home ', data-inline="true") Home
                        a(href=contextPath + '/logout',  rel="external",data-icon='back', data-role='button', title=' Logout ', data-inline="true") Logout
                div(data-role="content")
                    div(data-role="navbar")
                        ul(id="custom-nav-list")
                            li
                                a(href=contextPath + "/showNPAMenuPage",rel="external", data-role="tab" , id="custom-li-tab6",class="ui-btn-active ") NPA Report
                    div(data-role="fieldcontain")
                        p(id="errorLabel",align ="center")  NPA Summary is not processed Yet.It is automated batch process.
                div(class="ui-loader-background")