body,.ui-body-b,#rightPanel,#leftPanel,#recaptureDiv,#reasonDiv{
    background:#FDF8EE !important;
}
.custom-div a span.ui-icon,.report-div a span.ui-icon { 
    display: none !important; 
}
.grouped-table tr td{
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 14px;
}
.grouped-table tr td:not(:last-child){
    font-weight: bold;
}

.grouped-table tr:not(:last-child) td{
    border-bottom: 1px dotted #0d3349;
}

.sub-questions{
    font-size: 12px !important;
}
.ui-input-text{
    padding-top:10px !important;
}
input.ui-input-text,textarea.ui-input-text,div.ui-input-text{
    padding: 2px 3px 2px 3px !important;
    width: 99% !important;
    border-radius: 0;
    background: #FFFFFF !important;
    font-size: 14px !important;
}
.ui-input-search input.ui-input-text{
    height:28px;
}
.ui-collapsible-heading,.ui-collapsible-heading a{
    height: 25px !important;
}
.ui-collapsible-heading a span{
      padding-top: 5px !important;
}
.custom-div a {
    background: #496949;
}
.report-div input.ui-input-text {
    width: 85% !important;
}
.custom-div .ui-collapsible-content,.report-div .ui-collapsible-content {
    background: #CBDCCB;
    margin-top: -5px
}
.custom-div,.report-div{
    margin: auto;
}
.ui-radio label,.ui-radio label:hover, .ui-checkbox label,.ui-checkbox label:hover{
    width: 100%;
    background: #495A49;
    color:#FFFFFF;
}
.loanLabel {
    width: 28% !important;
    background: #495A49;
    color:#FFFFFF;
}
.ui-radio label span.ui-btn-inner, .ui-checkbox label span.ui-btn-inner, .ui-btn span.ui-btn-inner{
    font-size: 11px;
}
.ui-navbar ul li a span.ui-btn-inner{
    font-size: 14px;
}
.ui-navbar li .ui-btn .ui-btn-inner{
    padding: 6px !important;
}
.ui-radio label span span.ui-icon, .ui-checkbox label span span.ui-icon, .ui-btn span.ui-btn-inner {
    background-color: #495A49;
}
.ui-multiselect {
    width: 99% !important;
    background-color: #FFFFFF !important;
    border: 1px solid #d3d3d3;
    webkit-border-radius: 0 !important;
    border-radius:0 !important;
    color: #222222;
    font-size: 14px;
}
.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png);
    color: #222222;
    font-weight: bold;
}
.ui-widget-header:not(.ui-datepicker-header) {
    height: 17px;
}
.ui-widget-header span.ui-icon, .ui-multiselect span.ui-icon{
    background: #495A49 !important;
}
.ls-page span.ui-icon{
    background-image: url(images/icons-18-white.png) !important;
}
.ui-multiselect-menu{
    background: #FFFFFF;
    border: 1px solid #2C382C;
    webkit-border-radius: 0 !important;
    border-radius:0 !important;
    width: 25% !important;
}
.ui-multiselect-none,.ui-multiselect-all{
    color: #2C382C;
}
.ui-widget-header ul{
    list-style-type: none;
}
.custom-table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: 1px solid #2C482C;
    table-layout: fixed;
}
.custom-table tr td{
    word-wrap: break-word;
    padding: 5px;
    font-size: 14px !important;
    border: 1px solid #2C482C;
}
.loan-custom-table{
    word-wrap: break-word;
    padding: 5px;
    font-size: 14px !important;
    border: 1px solid #2C482C;
    color: #000 !important;
}
.custom-table tr:nth-child(even) td{
    background: #CBDCCB;
}
.custom-table tr:nth-child(odd) td{
    background: #F2F5F2;
}
.custom-table thead tr th,.custom-table tr th{
    line-height: 30px;
    font-size: 13px !important;
    background: #496949;
    color: #FFFFFF;
    border: 1px solid #2C482C;
    font-weight: 100;
}
.ui-btn-active{
    border: 1px solid #252525 !important;
}
.ui-btn-active span.ui-btn-inner {
    background: #252525 !important;
}
.select-items{
    height: 15px !important;
    width: 15px !important;
}
input.ui-input-text:disabled,.ui-select .ui-btn select:disabled,input.ui-input-text:read-only{
    cursor: no-drop !important;
}
/* For loan sanction*/
#activeId,#inactiveId,#individualDetails,#loanAcount,#fees,#sameForAllDiv,#bankAccountDetails {
    background: #B4C5B4 !important;
    font-weight: normal;
}
#custom-li-mainTab1,#custom-li-mainTab1 span,#custom-li-tab,#custom-li-tab span {
    border-top-left-radius: 90px;	
}
#custom-li-mainTab4,#custom-li-mainTab4 span,#custom-li-tab3,#custom-li-tab3 span {
    border-top-right-radius: 90px;	
}
.ui-btn-up-b:not(.grt-check-box){
    border: 1px solid #1F2D1F !important;
}
.same-for-all{
    width: 15% !important;
}
#individualDetails{
    margin-top: -28px !important;
}
#sameForAllDiv {
    padding-top: 0px !important;
}
.ui-listview li,.custom-checkbox span.ui-btn-inner,.clientsPopup div.ui-bar-b{
    background: #446B44;
    background-image: linear-gradient( #3E4244, #446B44)
}
.clientsPopup div.ui-bar-b{
    border: 1px solid #353030 !important;
}
.clientsPopup{
    background: #7C977C !important;
    color: #FFFFFF !important;
}
.grt-check-box span.ui-btn-inner{
    background: #CBDCCB !important;
    color: #000000 !important; 
    text-shadow: 2px 2px #CBDCCB;
}
#pagination a,#list-pagination a {
    display:inline-block;
    color: #000000;
    text-decoration: none;
}
#pagination a{
    padding: 0px 3px 0px 3px;
}

#list-pagination a {
    margin-top: 8px;
    padding: 3px;
}
/*for profile*/
#timelineContainer{width:100%;position:relative}
#timelineBackground {
    height: 315px;
    position: relative;
    margin-top: -20px;
    overflow: hidden;
    background:#FFFFFF;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.50;
}
#timelineProfilePic {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 170px;
    border: 1px solid #2C482C;
    background-color: #ffffff;
    position: absolute;
    margin-top: -173px;
    margin-left: 15px;
    z-index: 1000;
    overflow: hidden;
}
#timelineTitle {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: -28px;
    position: absolute;
    margin-left: 201px;
    font-weight: bold;
    z-index: 999;
    text-transform: capitalize;
    background: #000000;
    text-shadow: 2px 2px #B55109;
}
#toTop {
    padding: 4px 4px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 40px;
    right: 10px;
    display: none;
    text-decoration: none;
}
.active-page{
    background: #496949; 
    color: #F9FAF4 !important;
}
.disable_a_href{
    pointer-events: none;
}
#cliamTd div.ui-select {float:left !important;padding:5px !important}
.dvCheckbox{
    height: 25px !important;
    width: 25px !important;
}
.notification-message{
    margin: 15px !important;
    color:orangered !important;
    word-wrap: break-word;
}