.global-font-details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px !important;
    font-weight : bold !important;
}

.ui-loader-background { /* restrict BG on loading*/
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:99999;
}
.ui-loading .ui-loader-background {
    display:block;
}

.label {
    font-size : 16px !important;
    font-weight : bold !important;
    color: black !important;
}
.error-message {
    margin: 15px !important;
    color:red !important;
    word-wrap: break-word
}
.message {
    margin: 15px !important;
    color:#fbcb09 !important;
}
.secondaryerror-message {
    margin: 15px !important;
    color:burlywood !important;
}
.success-message {
    margin: 15px !important;
    color:green !important;
}
.menu-label {
    color:black;
}

.ui-bar.no-padding { /* navbar grid alignment in group management*/
    padding: 0;
}

.ui-selectmenu {
    width: 200px;
    max-width: 600px;
}
*{
    padding: 0;
    margin: 0;
}
.ui-datepicker{
    z-index: 2100 !important;
}
.ui-icon-bank {
    background-image: url("/images/bank.png");
    background-size: 20px 20px;
}
.ui-icon-loan {
    background-image: url("/images/loan.png");
    background-size: 20px 20px;
}
.ui-icon-minutes {
    background-image: url("/images/minutes.png");
    background-size: 20px 20px;
}
#collapse,#expand{
    float: right;
}
#rotateRight,#rotateRightPanel {
    float: right;
    margin-right: 0.7em;

}
#rotateLeft,#rotateLeftRightPanel {
    float: right;
    margin-right: 20px;
}
#next,#nextRightPanel {
    float: right;
    margin-right: 15px;
}
#previous,#previousRightPanel {
    float: left;
    margin-left: 15px;
}

#reject{
    float: left;
    margin-left: 550px;
}
#footerRightPanel {
    float: left;
    margin-left: 900px;
}

#accept{
    float: right;
    margin-right: 10px;
}

.ui-btn-left, .ui-btn-right, .ui-input-clear,
.ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn,
.ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn,
.ui-grid-solo .ui-btn {
     margin-right: 0px;
     margin-left: 0px;
}
.paymentVerTable{
    table-layout: fixed;
}
.paymentVerTable tr td{
    word-wrap: break-word;
}