table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: 18px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}
     
table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}
         
table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}
table th{
text-align:center;
font-family: Tahoma, Geneva, sans-serif;
font-size: 15px;
color : white;
border-bottom: 1px solid ;
border-right: 1px solid;
padding: 10px 10px 10px 10px;
background-color :#5E87B0;
}

#labelid{
	color : black;
	font-weight : bold;
}
.labelid{
	color : black;
	font-weight : bold;
}
#allowed{
	color : black;
	font-weight : bold;
}
#pflabelid{
	color : black;
	font-weight : bold;
}
#stlabelid{
	color : black;
	font-weight : bold;
}
#insurancelabelid,#interestratelabel,#installmentslabel{
	color : black;
	font-weight : bold;
}
#errorLabel  {
	color : red;
	font-weight : bold;
}
#successmessage {
	color : green;
	font-weight : bold;
}


