body,.ui-body-b{
    background-image: url(/images/login.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#login-style {
    position:fixed;
    top:25%;
    left:34%;
    border: 0px solid #ccc;
    width:25em;
    height:220px;
    background: #A5B9A5;
}

#alert-message {
    font-size: 13px;
}

#changePasswordDiv {
    position:fixed;
    top:25%;
    left:32%;
    border: 0px solid #ccc;
    width:29em;
    height:320px;
    background: #A5B9A5;
}
#label {
    width: 100px;
    text-align: left;
    padding-left: 5px;
}
.ui-btn span.ui-btn-inner{
    font-size: 11px;
}
.ui-btn span.ui-btn-inner {
    background-color: #495A49;
}
input.ui-input-text{
    padding: 2px 3px 2px 3px !important;
    width: auto;
    border-radius: 0;
    background: #FFFFFF !important;
    font-size: 14px !important;
}