div(data-role="navbar", class="ui-bar no-padding", data-grid="d")
    ul
        -for(var i=0;i< operationNameArray.length;i++) {
            li
                -if(i==currentOperationIndex){
                    a(href="JavaScript:operationSubmitFromAdmin('#{operationIdArray[i]}');", rel="external",id = '#{operationNameArray[i]}', data-role="tab", class="ui-btn-active") #{operationNameArray[i]}
                -}else{
                    a(href="JavaScript:operationSubmitFromAdmin('#{operationIdArray[i]}');", rel="external",id = '#{operationNameArray[i]}', data-role="tab") #{operationNameArray[i]}
                -}
        -}
