extends ../layout
include ../header

block title
    title= 'IKLANT-Change Password'

block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(type='text/javascript', src='/javascripts/admin_management/changePassword.js')
    script(type='text/javascript', src='/javascripts/validation.js')

block content
    div(data-role='page', data-theme='b', id="loginDetailsDiv")
        -if(passwordChanged !=0){
            +header("",["welcomeNote","menu","logout"])
        -} else {
            +header("",["welcomeNote","logout"])
        -}
        div(id="changePasswordDiv",class="ui-bar ui-bar-c ui-corner-all", data-theme="a", data-overlay-theme="a")
            form(id="changePasswordFormID", align="center", method="post",action="",autocomplete="off")
                -if(errorMessage.toLowerCase().indexOf('success') > -1){
                    p(id='statusMessage',align="center",class='success-message global-font-details') #{errorMessage}
                -}else{
                    p(id='statusMessage',align="center",class='error-message global-font-details') #{errorMessage}
                -}
                p(id='errorMessageId',align="center",class='error-message global-font-details')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="userName", data-inline="true", id="label") User Name
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="text", name="userName", id="userName",onkeyup='forUserName(this)',required='required',readonly="readonly",value= loginName)
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="password", data-inline="true", id="label") Old Password
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="password", name="oldPassword", id="password",required='required')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="password", data-inline="true", id="label") New&nbsp;Password
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="password", name="newPassword", id="newPassword", value="",required='required')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="password", data-inline="true", id="label") Confirm&nbsp;Password
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="password", name="confirmPassword", id="confirmPassword", value="",required='required')
                a(href='JavaScript:changePassword()',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Submit ', data-inline="true", data-mini='true') Submit
                    -if(passwordChanged !=0){
                        a(href=contextPath + '/menu', id="backUId", rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
                    -}

    div(class="ui-loader-background")