extends ../layout
include ../header

block title
    title= 'IKLANT-Forgot Password'

block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(type='text/javascript', src="/javascripts/LoginValidations.js")
    script(type='text/javascript', src='/javascripts/common.js')

block content
    div(data-role='page', data-theme='b', id="loginDetailsDiv")
        +header("",[])
        noscript
            style(type='text/css')
                #forgotPasswordForm {display: none}
            .noscriptmsg
                center
                    b To use IKLANT, please enable JavaScript in your browser.
        form(id="forgotPasswordForm", align="center")
            div(id='login-style',class="ui-bar ui-bar-c ui-corner-all", data-theme="a", data-overlay-theme="a")
                -if(errorMessage == ""){
                    p(style='padding-top:1em;') Please provide the following details
                -}else{
                    -if(errorMessage.toLowerCase().indexOf('failed') > -1 || errorMessage.toLowerCase().indexOf('invalid') > -1){
                        p(id='errorMessage',class='error-message global-font-details') #{errorMessage}
                    -}else{
                        p(id='errorMessage',class='success-message global-font-details') #{errorMessage}
                    -}
                -}
                p(id='errorMessage',class='error-message global-font-details')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="forgotUserName", id="label") User Name *
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="text", name="forgotUserName", id="forgotUserName", value="",onkeyup='forUserName(this)',onfocusout='forUserName(this)',autocomplete='off')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:115%;')
                    div(class='ui-block-a',style="width:20%")
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="email", id="label") Email id *
                    div(class='ui-block-b',style="width:75%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="email", name="email", id="email", value="",onkeyup='forEmailId(this)',autocomplete='off')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:70%;',align="center")
                    div(class='ui-block-a',style="width:35%",align='right')
                    div(class='ui-block-b',style="width:35%")
                        a(href='JavaScript:getPassword()',rel="external", data-role='button', data-theme='b',data-mini="true", title=' Get Password ', data-inline='true') Get Password
                    div(class='ui-block-c',style="width:30%",align='right')
                        a(href=contextPath + '/login',rel="external", data-role='button', data-theme='b',data-icon='back',data-mini="true", title=' Reset ', data-inline='true') Login
        div(class="ui-loader-background")