extends ../layout
include ../header
block title
    title= 'IKLANT-Manage Office'
block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/iklant-table-layout.css')
    script(type='text/javascript', src='/javascripts/admin_management/manageReport.js')
block content
    form(id='ReportFormId')
        div(data-role='page', data-theme='b')
            +header("Report Management",["welcomeNote","logout"])
            p(id='errorMessageIdManageReport',align="center",class='error-message global-font-details') #{error_msg}
            div(data-role='content', data-theme="b", data-overlay-theme="b", data-inline="true")
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            a(href='', rel="external",data-theme="b",data-icon='plus', data-role='button', title='Add Report', data-inline="true", onclick="JavaScript:showAddReportView();", data-mini='true') Add Report
                            a(href=contextPath + '/admin/ci/removableDocumentAvailability/true/false', rel="external",data-theme="b",data-role='button', title='Add Report', data-inline="true",  data-mini='true') Find Unwanted Memmory
                    div(class='ui-block-b')
                        div(data-role="fieldcontain")
            div(data-role="collapsible", data-collapsed="false", data-theme="b", data-content-theme="b")
                h3 Reports
                table
                     tr
                         th Report ID
                         th Report Name
                         th Report Category
                     - for(var i = 0 ; i<result.length;i++){
                        tr
                            td #{i+1}
                            td #{result[i].report_name}
                            td #{result[i].report_category_name}
                     - }

