extends ../layout
include ../header

block title
    title= 'IKLANT-Manage Users'

block scripts
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/admin_management/manageusers.js')
    script(type='text/javascript', src='/javascripts/validation.js')

block content
    form(id='AdminFormId')
        div(data-role='page', data-theme='b')
            +header("User Management",["welcomeNote","menu","logout"])
            include ./adminManagementLayout
            -if(error_msg){
                -if (error_msg.toLowerCase().indexOf('failed') > -1 || error_msg.toLowerCase().indexOf('not') > -1 || error_msg.toLowerCase().indexOf('already') > -1){
                    p(id='errorMessageId',align="center",class='error-message global-font-details') #{error_msg}
                -}
                -else{
                    p(id='successMessage',align="center",class='success-message global-font-details') #{error_msg}
                -}
            -}
            div(data-role='content', data-theme="b", data-overlay-theme="b", data-inline="true",id="addUserDivId")
                a(href='',  rel="external",data-theme="b",data-icon='plus', data-role='button', title='Add Users', data-inline="true" ,id ="addUId", data-mini='true') Add Users
            div(data-role="collapsible", data-collapsed="false", data-content-theme="b", id="addUDiv")
                h3 User Details
                p(id='errorMessageId',align="center",class='error-message global-font-details',style="display:none")
                p(id='bcConfirmation',align="center",class='global-font-details',style="display:none;color:orange;")
                div(data-role="content", data-inline="true",class="custom-div")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a",id="bcDivId",style="display:none")
                        div(class='ui-block-a',style="width:15%")
                            label(for="stateId",class='label') BC
                        div(class='ui-block-b',style="width:25%")
                            select(name='bcId',rel = "external", data-mini="false" ,data-inline="true", id='bcId', data-icon='arrow-d', data-native-menu="true",onchange='bcChange()')
                                option(value='NULL') All
                                -for(i=0;i<bcListJson.bcId.length;i++){
                                    option(value=bcListJson.bcId[i]) &nbsp;#{bcListJson.bcName[i]}&nbsp;
                                -}
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="officeId",class='label') Office
                        div(class='ui-block-b',style="width:30%")
                            select(name='office', data-theme='b', data-inline='true', data-mini='true', id='officeId', data-icon='arrow-d')
                                option(value='0') Select Office
                                -for(i=0;i<officeListJson.officeId.length;i++){
                                    option(value=officeListJson.officeId[i],alt=officeListJson.bcIds[i]) #{officeListJson.officeName[i]}
                                - }
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='userNameId',class='label') User Name
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='userName',autocomplete="off",maxlength="50", id='userNameId', data-inline="true",value="",onkeyup='forAlphaNumeric(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a",id="passwordDiv")
                        div(class='ui-block-a',style="width:15%")
                            label(for='password',class='label') Password
                        div(class='ui-block-b',style="width:30%")
                            input(type='password', name='password',autocomplete="off",id='password', data-inline="true",value="")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a",id="confirmPasswordDiv")
                        div(class='ui-block-a',style="width:15%")
                            label(for='confirmPassword',class='label') Confirm Password
                        div(class='ui-block-b',style="width:30%")
                            input(type='password', name='confirmPassword',autocomplete="off",id='confirmPassword', data-inline="true",value="")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='firstNameId',class='label') First Name
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='firstName',autocomplete="off",maxlength="30", id='firstNameId', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='lastNameId',class='label') Last Name
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='lastName',autocomplete="off",maxlength="30", id='lastNameId', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='dobId',class='label') DOB
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='dob',autocomplete="off", id='dobId', data-inline="true",readonly = 'readonly', value="")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="genderId",class='label') Gender
                        div(class='ui-block-b',style="width:30%")
                            select(name='gender', data-theme='b', data-inline='true', data-mini='true', id='genderId', data-icon='arrow-d')
                                option(value='0') Select
                                option(value='49') Male
                                option(value='50') Female
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='addressId',class='label') Address
                        div(class='ui-block-b',style="width:30%")
                            textarea(name='address',maxlength="200", id='addressId',onkeyup='forAddress(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="userHierarchyId",class='label') User Hierarchy
                        div(class='ui-block-b',style="width:30%")
                            select(name='userHierarchy', data-theme='b', data-inline='true', data-mini='true', id='userHierarchyId', data-icon='arrow-d')
                                option(value='0') Select
                                option(value='1') Loan Officer
                                option(value='2') Non Loan Officer
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='contactNumberId',class='label') Contact Number
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='contactNumber',autocomplete="off", id='contactNumberId',,maxlength="20", data-inline="true",value="",onkeyup='forNumbers(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for='emailIdID',class='label') Email Id
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='emailId',autocomplete="off",maxlength="100", id='emailIdID', data-inline="true",value="",onkeyup='forEmailId(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a",id="imeiDivId")
                        div(class='ui-block-a',style="width:15%")
                            label(for='imeiNumberIdID',class='label') IMEI Number
                        div(class='ui-block-b',style="width:30%")
                            input(type='text', name='imeiNumberId',autocomplete="off",maxlength="16", id='imeiNumberIdID', data-inline="true",value="", onkeyup='forNumbersWithSlash(this)')
                            input(type='hidden', name='imeiNumberIdIDHidden',autocomplete="off",maxlength="20", id='imeiNumberIdIDHidden', data-inline="true",value="")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        -for(i=0;i<roleIdArray.length;i++){
                            div(class='ui-block-a',style="width:15%")
                                -if(i==0){
                                    legend(class="label") Role
                                -}
                            div(class='ui-block-b',style="width:30%")
                                input(type='checkbox', name="roleIds", id ='roleId'+roleIdArray[i],value=roleIdArray[i])
                                label(for='roleId'+roleIdArray[i]) #{roleNameArray[i]}
                        -}
                a(href='JavaScript:manageUsersSubmitForm(0)',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Save ', data-inline="true", data-mini='true',id="save") Save
                a(href='JavaScript:manageUsersSubmitForm(1)',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Save ', data-inline="true", data-mini='true',id="update") Update
                a(href='JavaScript:resetFields()',  rel="external",data-theme="b",data-icon='refresh', data-role='button', title=' Reset ', data-inline="true", data-mini='true',id="reset") Reset
                a(href="",id="backUId", rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
            div(id="tableviewdiv")
                table(data-role="table",class="custom-table", data-mode="columntoggle")
                    thead
                        tr
                            th(width="5%") S. No
                            th Login Name
                            th Name
                            th Branch-Office Name
                            th Contact Number
                            th Email-Id
                            th Action
                        -var count = 1;
                        -for(var i=0;i< userIdArray.length;i++){
                            -if(userRoleIdArray[i] != constantsObj.getSMHroleId() && userRoleIdArray[i] != constantsObj.getAdminroleId() && userRoleIdArray[i] != constantsObj.getApexPromotors()){
                                tr
                                    td(style ="text-align:center") #{count}
                                    - count++
                                    td #{userCodeArray[i]}
                                    td #{userNameArray[i]}
                                    td #{office_NameArray[i]}
                                    td #{contactNumberArray[i]}
                                    td #{emailIDArray[i]}
                                    td(style ="text-align:center")
                                        a(href="JavaScript:populateUserDetails('#{userIdArray[i]}');",rel="external",data-theme="b",data-icon='gear', data-role='button',data-mini="true", title='Edit', data-inline="true", id= "edit_"+userNameArray[i]) Edit
                                        a(href="JavaScript:deleteUsers('#{userIdArray[i]}','deleteUserId_#{userIdArray[i]}');", id='deleteUserId_#{userIdArray[i]}',data-theme="b",data-icon='delete', data-role='button',data-mini="true", title='Delete', data-inline="true",data-rel="popup",data-position-to='window') Delete
                            -}
                        - }
            div(data-role="popup", id="deleteConfirmationId",data-theme="a",align='center') Confirmation!
                div(data-role="collapsible", data-collapsed="false",data-theme="b", data-content-theme="b")
                    div
                        label(class='label') Do you really want to delete this user?
                    div(align="center",id="ynButtonDivId")
                        a(href='#showId',data-icon='check',data-role='button',id='yesUserDeleteId',data-inline='true', data-mini='true') Yes
                        a(href='#showId', data-icon='delete', data-role='button',id='noUserDeleteId',data-inline='true', data-mini='true') No
            input(type="hidden", name="userNameArray", id="userNameArrayId",value=userNameAllArray)
            input(type="hidden", name="deleteUserId", id="deleteUserId",value='')
            input(type="hidden", name="imeiNumberArray", id="imeiNumberArrayId", value=imeiNumberArray)
            input(type="hidden", name="officeEdit", id="officeEditHidden", value="")
            input(type="hidden", name="userNameIdHidden", id="userNameIdHidden", value="")
            input(type="hidden", name="userIdHidden", id="userIdHidden", value="")
            input(type="hidden", name="bcIdHidden", id="bcIdHidden", value="0")
            input(type="hidden", name="oldPassword", id="oldPassword", value="")
            input(type="hidden", name="selectedBcIdHidden", id="selectedBcIdHidden", value="0")
            div(class="ui-loader-background")