extends ../layout
include ../header

block title
    title= 'IKLANT-Manage Office'

block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/javascripts/admin_management/manageOffice.js')
    script(type='text/javascript', src='/javascripts/validation.js')

block content
    form(id='AdminFormId')
        div(data-role='page', data-theme='b')
            +header("Office Management",["welcomeNote","menu","logout"])
            include ./adminManagementLayout
            -if(statusMsg != ""){
                -if(statusMsg.indexOf('Unable') == -1)
                    p(id="successMessage",class="success-message global-font-details",style="text-align:center") #{statusMsg}
                -else
                    p(id="successMessage",class="error-message global-font-details",style="text-align:center") #{statusMsg}
            -}
            div(data-role='content', data-theme="b", data-overlay-theme="b", data-inline="true",id="addDivId")
                a(href='', rel="external",data-theme="b",data-icon='plus', data-role='button', title='Add Office', data-inline="true",id="addOId", data-mini='true') Add Office
            div(data-role="collapsible", data-collapsed="false", data-theme="b", data-content-theme="b", id="addODiv")
                h3 Office Details
                p(id='errorMessageIdManageOffice',align="center",class='error-message global-font-details',style="display:none")
                div(data-role="content", data-inline="true",class="custom-div")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="bcId",class='label') BC
                        div(class='ui-block-b',style="width:25%")
                            select(name='bcId',rel = "external", data-mini="false" ,data-inline="true", id='bcId', data-icon='grid', data-native-menu="true")
                                option(value='0') Select BC
                                -for(i=0;i<bcListJson.bcId.length;i++){
                                    option(value=bcListJson.bcId[i]) &nbsp;#{bcListJson.bcName[i]}&nbsp;
                                - }
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="officeLevel",class='label') Office Level
                        div(class='ui-block-b',style="width:25%")
                            select(name='officeLevel',rel = "external", data-mini="false" ,data-inline="true", id='officeLevel', data-icon='grid', data-native-menu="true",onchange='levelChange(0)')
                                option(value='0') Select
                                -for(i=0;i<officeHierarchyNameArray.length;i++){
                                    option(value=officeHierarchyNameArray[i].officeLevelId) &nbsp;#{officeHierarchyNameArray[i].officeLevelName}&nbsp;
                                - }
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="parentOffice",class='label') Parent Office
                        div(class='ui-block-b',style="width:25%")
                            select(name='parentOffice',rel = "external", data-mini="false" ,data-inline="true", id='parentOffice', data-icon='grid', data-native-menu="true")
                                option(value='0') Select
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="officeNameId",class='label') Office Name
                        div(class='ui-block-b',style="width:25%")
                            input(type='text', name='officeName',autocomplete="off", maxlength="100",id='officeNameId', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                            input(type='hidden', name='officeNameIdHidden',autocomplete="off", maxlength="100",id='officeNameIdHidden', data-inline="true",value="")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="officeShortNameId",class='label') Office Short Name
                        div(class='ui-block-b',style="width:25%")
                            input(type='text', name='officeShortName',autocomplete="off", maxlength="4",id='officeShortNameId', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="officeAddressId",class='label') Office Address
                        div(class='ui-block-b',style="width:25%")
                            textarea(name='officeAddress',maxlength="250", id='officeAddressId',onkeyup='forAddress(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="stateId",class='label') State
                        div(class='ui-block-b',style="width:25%")
                            select(name='state',rel = "external", data-mini="false" ,data-inline="true", id='stateId', data-icon='grid', data-native-menu="true",onchange='stateChange()')
                                option(value='0') Select State
                                -for(i=0;i<stateIdArray.length;i++){
                                    option(value=stateIdArray[i]) &nbsp;#{stateNameArray[i]}&nbsp;
                                - }
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")                            
                        div(class='ui-block-a',style="width:15%")
                            label(for="ldCallTrackingEnabled",class='label') Pre LD Call Tracking
                        div(class='ui-block-b',style="width:25%")
                            select(name='ldCallTrackingEnabled',rel = "external", data-mini="false" ,data-inline="true", id='ldCallTrackingEnabled', data-icon='grid', data-native-menu="true",onchange='stateChange()')
                                option(value='-1') Select
                                option(value='0') Disabled
                                option(value='1') Fully
                                option(value='2') Randomly
                div(data-role="fieldcontain")
                    a(href='JavaScript:manageOfficeSubmitForm(0)',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Save ', data-inline="true", data-mini='true',id="save") Save
                    a(href='JavaScript:manageOfficeSubmitForm(1)',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Update ', data-inline="true", data-mini='true',id="update") Update
                    a(href='JavaScript:resetFields()', rel="external",data-theme="b",data-icon='refresh', data-role='button', title='Reset ', data-inline='true', data-mini='true',id="reset") Reset
                    a(href="", id='backOId', rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
            div(id="tableviewdiv")
                table(data-role="table", id="movie-table", class="custom-table", data-mode="columntoggle")
                    thead
                        tr
                            th(width="5%") S. No
                            th Office Name
                            th Office Short Name
                            th Office Address
                            th Action

                        -for(i=0;i< officeListJson.officeId.length;i++){
                            tr
                                td(style ="text-align:center") #{i+1}
                                td #{officeListJson.officeName[i]}
                                td #{officeListJson.officeShortName[i]}
                                td #{officeListJson.officeAddress[i]}
                                td(style ="text-align:center")
                                    a(href="JavaScript:populateOfficeDetails('#{officeListJson.officeId[i]}');",rel="external",data-theme="b",data-mini="true",data-icon='gear', data-role='button', title='Edit', data-inline="true", id="edit_"+officeListJson.officeName[i]) Edit
                                    //a(href="JavaScript:deleteOffice('#{officeIdArray[i]}');",  rel="external",data-theme="b",data-mini="true",data-icon='delete', data-role='button', title='Delete', data-inline="true") Delete
                        - }
            div(class="ui-loader-background")
            input(type="hidden", name="officeNameArray", id="officeNameArray",value=officeListJson.officeName)
            input(type="hidden", name="officeHierarchyNameArray", id="officeHierarchyNameArray",value=JSON.stringify(officeHierarchyNameArray))
            input(type="hidden", name="officeId", id="officeId",value="0")