extends ../layout
include ../header

block title
    title= 'IKLANT-Manage Roles'

block scripts
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='/javascripts/jquery.mobile.js')
    script(type='text/javascript', src='/javascripts/admin_management/manageRoles.js')
    script(type='text/javascript', src='/javascripts/validation.js')

block content
    form(id='AdminFormId')
        div(data-role='page', data-theme='b')
            +header("Role Management",["welcomeNote","menu","logout"])
            include ./adminManagementLayout
            -if(error_msg){
                -if (error_msg.indexOf('failed') > -1 || error_msg.indexOf('not') > -1 || error_msg.indexOf('already') > -1){
                    p(id='errorMessageId',align="center",class='error-message global-font-details') #{error_msg}
                -}
                -else{
                    p(id='successMessage',align="center",class='success-message global-font-details') #{error_msg}
                -}
            -}
            p(id='errorMessageIdManageRoles',align="center",class='error-message global-font-details')
            div(data-role="collapsible", data-collapsed="false", data-theme="b", data-content-theme="b", id="editRDiv")
                h3 Edit
                div(data-role="content", id="addDivId", data-inline="true",class="custom-div")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="roleNameIdEdit") Role Name
                        div(class='ui-block-b',style="width:25%")
                            input(type='text', name='roleNameEdit',autocomplete="off", maxlength="100",id='roleNameIdEdit', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a", data-inline="true",class="ui-bar ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            label(for="roleDescIdEdit") Role Description
                        div(class='ui-block-b',style="width:25%")
                            input(type='text', name='roleDescNameEdit',autocomplete="off",maxlength="100", id='roleDescIdEdit', data-inline="true",value="",onkeyup='forNamesValidation(this)')
                            input(type='hidden', name='roleIdEdit',autocomplete="off", id='roleIdEdit', data-inline="true",value="")
                            input(type="hidden",name="checkedValuesHiddenName",id="checkedValuesHiddenId")
                            input(type="hidden",name="operationValuesHiddenName",id="operationValuesHiddenId")
                            input(type="hidden",id="operationIdLengthHidden",value=manageRolesObj.getOperation_id().length)
                h3 Assign Operation
                div(data-role='content', data-theme="b", data-overlay-theme="a", data-inline="true",style="width:40%")
                    div(data-role="fieldcontain", id='editRolePrevilegeCheckBoxDiv')
                div(data-role="fieldcontain")
                    a(href='JavaScript:manageRolesUpdate()',  rel="external",data-theme="b",data-icon='check', data-role='button', title='Update', data-inline="true", data-mini='true') Update
                    a(href="JavaScript:operationSubmitFromAdmin('#{constantsObj.getManageRolesOperationId()}');", id='backREId', rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
            div(id="tableviewdivRole")
                table(data-role="table", id="movie-table", class="custom-table", data-mode="columntoggle")
                    thead
                        tr
                            th(data-priority="5") SNO
                            th(data-priority="5") Role Name
                            th(data-priority="5") Role Description
                            th(data-priority="5",style ="text-align:center") Action

                        -for(i=0;i< roleIdArray.length;i++){
                            tr
                                td(style ="text-align:center") #{i+1}
                                td #{roleNameArray[i]}
                                td #{roleDescriptionArray[i]}
                                td(style ="text-align:center")
                                    a(href="JavaScript:populateRoleDetails('#{roleIdArray[i]}');",rel="external",data-theme="b",data-mini="true",data-icon='gear', data-role='button', title='Edit', data-inline="true") Edit
                                    //-a(href="JavaScript:deleteRole('#{roleIdArray[i]}');",  rel="external",data-theme="b",data-mini="true",data-icon='delete', data-role='button', title='Delete', data-inline="true") Delete
                        - }
            div(class="ui-loader-background")