doctype html
html(lang = "en")
    head
        title= 'IKLANT-NPALoansRecovery'
        meta(charset='utf-8')
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/stylesheets/jquery.mobile-1.3.0-beta.1.min.css")
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.multiselect.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/dialogStyle.css')
        link(rel='stylesheet', href='/stylesheets/iklantStyle.css')
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile-1.3.0-beta.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
        script(type='text/javascript', src='/javascripts/jquery.multiselect.js')
        script(type='text/javascript', src='/javascripts/constantjs.js')
        script(type='text/javascript', src='/javascripts/Mobile/groupsDetailsForRecovery.js')
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVov9kwI19tk2P2uZXlzyJRZ72U9urAnQ")
    body(style="overflow-x:hidden")
        form(id='recoveryFormID',enctype="multipart/form-data")
            div(data-role='page', data-theme='b')
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a")
                    div(class="ui-block-a")
                        img(id='iklantLogo', src='/images/iklantMobile.png')
                    div(class="ui-block-b",align="right")
                        a(href=contextPath + '/client/ci/menu', rel="external",data-icon='grid', data-role='button', title=' Menu', data-inline='true') Menu
                        a(href=contextPath + '/client/ci/logout',style="margin:0px 0px 0px 20px;vertical-align:middle")
                            img(id='logoff', src='/images/logoff.png')
                div(data-role="navbar", data-theme='b')
                    ul
                        li
                            a(href="#") Group Details For Recovery
                -if(alertMsg.indexOf("Success") > -1){
                    br
                    p(id ='successMessage',data-theme="e",align='center') #{alertMsg}
                -}else{
                    br
                    p(id ='errorField',data-theme="e",align='center') #{alertMsg}
                -}
                    p(id ='otherReason',align='center', style="color:red")
                    p(id ='others',align='center', style="color:red")
                    p(id ='paid',align='center', style="color:red")
                    p(id ='paidPerson',align='center', style="color:red")
                    p(id ='capableNo',align='center', style="color:red")
                    p(id ='payementYes',align='center', style="color:red")
                div(data-role="content")
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Group Name
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getGroupName()}
                                input(type="hidden", id='groupnameHidden', name="groupnameHidden", value="#{accountDetailsArray.getGroupName()}")
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Address
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getAddress()}
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Loan Officer
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getLoanOfficer()}
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Demanded Amount
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getAmountDemanded()}
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Paid Amount
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getAmountPaid()}
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain",style="width:80px")
                                label(for='groupname',id='labelid') Overdue Amount
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")
                                label(for='groupname') #{accountDetailsArray.getAmountOverdue()}
                    div(data-role="horizontal",class="ui-bar ui-grid-a")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='groupname',id='labelid') Individual Details
                        div(class='ui-block-b')
                            a(href="JavaScript:showClientList('#{accountDetailsArray.getAccountId()}');",id="custommainTab",data-theme="b",data-rel="popup",data-transition="slide",data-position-to="window",data-mini="true")
                                img(src='/images/member.png',height="25",width="25")
                div(data-role="collapsible",id="basicDetails", data-collapsed="true",style = "overflow: auto;")
                    h3 Queries for Group's Basic Information 
                    -var count1 = 0;
                    -for(i=0;i< utilQuestions.length;i++){
                        -if (utilQuestions[i].applicable_for == "BASIC_INFO") {
                            div(data-role="horizontal", data-inline="true",style=(count1 != 0) ? "display:none" : "",name='basicQuestion#{utilQuestions[i].parent_question_id}', id="basicQuestion#{utilQuestions[i].parent_question_id}",alt="#{utilQuestions[i].condition}")
                                div(class='ui-block-a',style="width:58%;padding-top:10px")
                                    div(data-role="fieldcontain")        
                                        label(for='loan'+i,id='labelid') #{utilQuestions[i].question_text}
                                        -var text = (utilQuestions[i].others == 'customer') ? accountDetailsArray.getGroupName() : ''
                                        -if(text != ''){
                                            br
                                            label(for='loan'+i,id='labelid1') #{text}
                                        -} 
                                -if(utilQuestions[i].input_type == 4){
                                    -var options = utilQuestions[i].options.split(",");
                                    div(class='ui-block-b',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="bi#{options[0]}Id"+i, id="bi#{options[0]}Id"+i, value="1", onclick="populateQuestions('basicQuestion','#{utilQuestions[i].question_id}', 'bi#{options[0]}Id#{i}', '', 'bi', '', 'yes')")
                                            label(for="bi#{options[0]}Id"+i) #{options[0]}
                                    div(class='ui-block-c',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="bi#{options[0]}Id"+i, id="bi#{options[1]}Id"+i, value="0", onclick="populateQuestions('basicQuestion','#{utilQuestions[i].question_id}', 'bi#{options[0]}Id#{i}', '#{JSON.stringify(utilQuestions)}', 'bi', '', 'no')")
                                            label(for="bi#{options[1]}Id"+i) #{options[1]}
                                -}else if(utilQuestions[i].input_type == 2){
                                    div(class='ui-block-b',style='width:20%;')
                                        div(data-role="fieldcontain")
                                            textarea(name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}else if(utilQuestions[i].input_type == 5){
                                    -var dropDownOptions = utilQuestions[i].options.split(",");
                                    div(class='ui-block-b',style='width:40%;')
                                        div(data-role="fieldcontain")
                                            select(name='#{utilQuestions[i].element_id}', data-theme="b",id='#{utilQuestions[i].element_id}',data-inline='true', data-icon='arrow-d', data-mini='true', data-native-menu="true",disabled='true')
                                                -for(var j=0;j<dropDownOptions.length;j++){
                                                    -var option = dropDownOptions[j].split(":");
                                                    option(value="#{option[0]}") #{option[1]}
                                                -}
                                -}else{
                                    div(class='ui-block-b',style='width:20%;')
                                        div(data-role="fieldcontain")
                                            input(type="text",name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}
                                   
                             -count1++;            
                        -}
                    - }
                 div(data-role="collapsible",id="loanDetails", data-collapsed="true",style = "overflow: auto;")
                    h3 Queries for Loan Information  
                    -var count = 0;
                    -for(i=0;i< utilQuestions.length;i++){
                        -if (utilQuestions[i].applicable_for == "LOAN_INFO") {
                            div(data-role="horizontal", data-inline="true",style=(count != 0) ? "display:none" : "",name='loanQuestion#{utilQuestions[i].parent_question_id}', id="loanQuestion#{utilQuestions[i].parent_question_id}",alt="#{utilQuestions[i].condition}")
                                div(class='ui-block-a',style="width:58%;padding-top:10px")
                                    div(data-role="fieldcontain")        
                                        label(for='loan'+i,id='labelid') #{utilQuestions[i].question_text} 
                                        -var text = (utilQuestions[i].others == 'disbursement_date') ? accountDetailsArray.getDBDate() : ''
                                        -var text1 = (utilQuestions[i].others == 'loan_amount') ? accountDetailsArray.getLoanAmount() : ''
                                        -var text2 = (utilQuestions[i].others == 'tenure') ? accountDetailsArray.getTenure() : ''
                                        -if(text != ''){
                                            br
                                            label(for='loan'+i,id='labelid2') #{text}
                                        -}
                                        -if(text1 != ''){
                                            br
                                            label(for='loan'+i,id='labelid3') #{text1}
                                        -}
                                        -if(text2 != ''){
                                            br
                                            label(for='loan'+i,id='labelid4') #{text2}
                                        -}
                                -if(utilQuestions[i].input_type == 4){
                                    -var options = utilQuestions[i].options.split(",");
                                    div(class='ui-block-b',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="ln#{options[0]}Id"+i, id="ln#{options[0]}Id"+i, value="1", onclick="populateQuestions('loanQuestion','#{utilQuestions[i].question_id}', 'ln#{options[0]}Id#{i}', '', 'ln', '', 'yes')")
                                            label(for="ln#{options[0]}Id"+i) #{options[0]}
                                    div(class='ui-block-c',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="ln#{options[0]}Id"+i, id="ln#{options[1]}Id"+i, value="0", onclick="populateQuestions('loanQuestion','#{utilQuestions[i].question_id}', 'ln#{options[0]}Id#{i}', '#{JSON.stringify(utilQuestions)}', 'ln', '', 'no')")
                                            label(for="ln#{options[1]}Id"+i) #{options[1]}
                                -}else if(utilQuestions[i].input_type == 2){
                                    div(class='ui-block-b',style='width:20%;')
                                        div(data-role="fieldcontain")
                                            textarea(name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}else if(utilQuestions[i].input_type == 5){
                                    -var dropDownOptions = utilQuestions[i].options.split(",");
                                    div(class='ui-block-b',style='width:40%;')
                                        div(data-role="fieldcontain")
                                            select(name='#{utilQuestions[i].element_id}', data-theme="b",id='#{utilQuestions[i].element_id}',data-inline='true', data-icon='arrow-d', data-mini='true', data-native-menu="true",disabled='true')
                                                -for(var j=0;j<dropDownOptions.length;j++){
                                                    -var option = dropDownOptions[j].split(":");
                                                    option(value="#{option[0]}") #{option[1]}
                                                -}
                                -}else{
                                    div(class='ui-block-b',style='width:20%;')
                                        div(data-role="fieldcontain")
                                            input(type="text",name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}
                                
                             -count++;            
                        -}
                    -}
                div(data-role="collapsible",id="npaQueries", data-collapsed="true",style = "overflow: auto;")
                    h3 NPA Queries to Members
                    -var count = 0;
                    -for(i=0;i< utilQuestions.length;i++){
                        -if (utilQuestions[i].applicable_for == "NPA_INFO") {
                            div(data-role="horizontal", data-inline="true",style=(count != 0) ? "display:none" : "",name='npaQuestion#{utilQuestions[i].question_id}', id="npaQuestion#{utilQuestions[i].parent_question_id}#{utilQuestions[i].condition}",alt="#{utilQuestions[i].condition}")
                                input(type="hidden", name="parentIds#{i}",id="parentIds#{i}",value="#{utilQuestions[i].parent_question_id}")
                                input(type="hidden", name="hide_childs#{i}",id="hide_childs#{i}",value="#{utilQuestions[i].hide_childs}")
                                input(type="hidden", name="show_if_yes#{i}",id="show_if_yes#{i}",value="#{utilQuestions[i].show_if_yes}")
                                input(type="hidden", name="show_if_no#{i}",id="show_if_no#{i}",value="#{utilQuestions[i].show_if_no}")
                                div(class='ui-block-a',style="width:58%;padding-top:10px;")
                                    div(data-role="fieldcontain")        
                                        label(for='loan'+i,id='labelid') #{utilQuestions[i].question_text}
                                -if(utilQuestions[i].input_type == 4){
                                    -var options = utilQuestions[i].options.split(",");
                                    div(class='ui-block-b',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="npa#{options[0]}Id"+i, id="npa#{options[0]}Id"+i, value="1", onclick="populateQuestions('npaQuestion','#{utilQuestions[i].question_id}', 'npa#{options[0]}Id#{i}', '#{JSON.stringify(utilQuestions)}', 'npa',#{i}, 'yes')")
                                            label(for="npa#{options[0]}Id"+i) #{options[0]}
                                    div(class='ui-block-c',style="width:20%")
                                        div(data-role="fieldcontain")
                                            input(type="radio", data-mini="true", name="npa#{options[0]}Id"+i, id="npa#{options[1]}Id"+i, value="0", onclick="populateQuestions('npaQuestion','#{utilQuestions[i].question_id}', 'npa#{options[0]}Id#{i}', '#{JSON.stringify(utilQuestions)}', 'npa',#{i}, 'no')")
                                            label(for="npa#{options[1]}Id"+i) #{options[1]}
                                -}else if(utilQuestions[i].input_type == 2){
                                    div(class='ui-block-a',style='width:100%;')
                                        div(data-role="fieldcontain")
                                            textarea(name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}else if(utilQuestions[i].input_type == 5){
                                    -var dropDownOptions = utilQuestions[i].options.split(",");
                                    div(class='ui-block-a',style='width:100%;')
                                        div(data-role="fieldcontain")
                                            -if(utilQuestions[i].others == 'multiple'){
                                                select(name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}',data-role="none",data-icon='grid',multiple="#{utilQuestions[i].others}",style="width:100%")
                                                    -for(var j=0;j<dropDownOptions.length;j++){
                                                        -var option = dropDownOptions[j].split(":");
                                                        option(value="#{option[0]}") #{option[1]}
                                                    -}
                                            -}else{
                                                select(name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}',data-role="none",data-icon='grid',style="width:100%",disabled="#{utilQuestions[i].other}")
                                                    -for(var j=0;j<dropDownOptions.length;j++){
                                                        -var option = dropDownOptions[j].split(":");
                                                        option(value="#{option[0]}") #{option[1]}
                                                    -}
                                            -}
                                            
                                -}else if(utilQuestions[i].input_type == 6){
                                    div(class='ui-block-b',style='width:100%;')
                                        div(data-role="fieldcontain")
                                            input(type="date",name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                -}else if(utilQuestions[i].input_type == 7){
                                        div(class="ui-block-b",style="width:40%;")
                                            input(type="file", name="singleUploadDocument" , id="#{utilQuestions[i].element_id}", onchange="getRecieptName(this)")
                                            label(id='recieptLabelId')
                                    div(class="ui-bar ui-grid-a")
                                        div(class="ui-block-a")
                                            a(href="JavaScript:uploadPaymentReceiptFile('#{accountDetailsArray.getAccountId()}')",rel="external", data-icon='check', data-role='button', title=' Save ', data-inline='true' , id="uploadRecieptDocumentId",data-mini='true') Upload
                                -}
                                -else if(utilQuestions[i].input_type == 3){
                                    -var dropDownOptions = utilQuestions[i].options.split(",");
                                    div(data-role='horizontal', id="pagination-div",style="width:100%;")
                                        div(class='ui-block-a',style="width:40%;padding-top:12px;",align="center")
                                            select(name='#{utilQuestions[i].element_id}', data-theme="b", id='#{utilQuestions[i].element_id}',data-inline='true', data-icon='arrow-d', data-mini='true',data-native-menu="true", onchange="selectedPayment(this, #{utilQuestions[i].question_id})")
                                                option(value='-1') Select
                                                    -if(dropDownOptions){
                                                        -for(var j=0;j<dropDownOptions.length;j++) {
                                                            -var paymentType = dropDownOptions[j].split(":");
                                                            option(value=paymentType[0]) #{paymentType[1]}
                                                        -}
                                                    -}
                                -}else{
                                    div(class='ui-block-b',style='width:40%;')
                                        div(data-role="fieldcontain")
                                            input(type="text",name='#{utilQuestions[i].element_id}', id='#{utilQuestions[i].element_id}', autocomplete="off", data-inline="true")
                                            
                                -}
                                
                             -count++;            
                        -}
                    -}
                    
                    div(data-role="horizontal", data-inline="true")
                        div(class='ui-block-a',style='width:100%;')
                            div(data-role="fieldcontain")
                                p(id ='info',data-theme="e",align='center')
                input(type="hidden", data-mini="true", name="statusId", id="statusId", value="")
                input(type="hidden", data-mini="true", name="loanstatus", id="loanstatus", value="#{accountDetailsArray.getStatusFlag()}")
                input(type="hidden", data-mini="true", name="todoActivity", id="todoActivity", value="")
                input(type="hidden", data-mini="true", name="todoDueDate", id="todoDueDate", value="")
                input(type="hidden", data-mini="true", name="todoDueTime", id="todoDueTime", value="")
                input(type="hidden", data-mini="true", name="backFlagId", id="backFlagId", value="#{backFlag}")
                input(type="hidden", data-mini="true", name="selectedDate", id="selectedDate", value="") 
                input(type="hidden", data-mini="true", name="remarks", id="remarks", value="")
                input(type="hidden", data-mini="true", name="reason", id="reason", value="")
                input(type="hidden", data-mini="true", name="otherReasonName", id="otherReasonName", value="")
                input(type="hidden", data-mini="true", name="npaQuestions", id="npaQuestions", value="") 
                input(type="hidden", data-mini="true", name="lattitude", id="lattitude", value="") 
                input(type="hidden", data-mini="true", name="longitude", id="longitude", value="") 
                input(type="hidden", data-mini="true", name="geoQuestionIds", id="geoQuestionIds", value="") 
                input(type="hidden", data-mini="true", name="capabilityPercentage", id="capabilityPercentage", value="") 
                div(data-role="collapsible", data-theme="b")
                    h3 Upload Document
                    div(class="ui-bar ui-grid-a")
                        div(class="ui-block-a")
                            div(data-role="fieldcontain")
                                input(type="radio", data-mini="true", name="radioGrClSelect", id="groupDocRadioId", value="1",checked="checked")
                                label(for="groupDocRadioId") Group
                        div(class="ui-block-b")
                            div(data-role="fieldcontain")
                                input(type="radio", data-mini="true",name="radioGrClSelect", id="clientDocRadioId", value="2")
                                label(for="clientDocRadioId") Client
                        div(data-role="fieldcontain", data-mini="true")
                    div(class="ui-bar ui-grid-b",id="clientNameDivId")
                        div(class='ui-block-a')
                            div(data-role="fieldcontain")
                                label(for='clientNameLabel',id='labelid') Client Name
                        div(class='ui-block-b')
                            div(data-role="fieldcontain")   
                                select(name='clientName',rel = 'external',onchange='', data-mini='true' ,id="clientNamesId",data-inline="true",autofocus="autofocus", data-theme='b', data-icon='arrow-d', data-native-menu="true")
                                    option(value="0") Select
                    input(type='checkbox', name='isMultipleDocCheck', id='isMultipleDocCheckID', data-inline="true")
                    label(for='isMultipleDocCheckID',id='isMultipleDocCheckID') Multiple Files
                    div(class="ui-bar ui-grid-b")
                        div(id="multipleDocDivId",style="width:100%")
                            input(type="file", name="multipleUploadDocument" , id="multipleUploadDocumentId" , multiple="multiple")
                        div(id="singleDocDivId",style="width:100%")
                            input(type="file", name="singleUploadDocument" , id="singleUploadDocumentId")
                    div(class="ui-bar ui-grid-a")
                        div(class="ui-block-a")
                            a(href="JavaScript:uploadFiles('#{accountDetailsArray.getAccountId()}')",rel="external", data-icon='check', data-role='button', title=' Save ', data-inline='true' , id="uploadDocumentId",data-mini='true') Upload
                            input(type="hidden", name="isMultipleDocument" , id="isMultipleDocumentId" , value="false")
                    div(class="ui-bar ui-grid-b")
                        div(class="ui-block-a")
                            a(href="JavaScript:downloadFiles('#{accountDetailsArray.getAccountId()}')",rel="external", data-icon='arrow-d', data-role='button', title=' Save ', data-inline='true' , id="downloadDocumentId",data-mini="true") Download Docs
                    div(class="ui-bar ui-grid-a")
                        div(class="ui-block-a",id="selectDocDivId")
                            select(name='downloadDocsName',rel = 'external', onchange = 'JavaScript:downloadDocs(this.value)', data-mini='true' ,id="downloadDocsId",data-inline="true",autofocus="autofocus", data-theme='b', data-icon='arrow-d', data-native-menu="true")
                                option(value="0") Select
                div(data-role="collapsible", data-theme="b")
                    h3 Todo List   
                    div(class='ui-block-a')
                        div(data-role="fieldcontain")
                            a(href='#addTodoPopupId', data-icon='plus', data-role='button',id='addTodoId', title='Add', data-rel='popup', data-position-to='window', data-transition='pop', data-inline='true', data-mini='true') Add
                div(data-role='content')
                    div(class='content-primary')
                        div(id='addTodoDivId')
                div(data-role="popup", id="addTodoPopupId", data-theme="b", data-overlay-theme="b", class="ui-content")
                    h3(align="center") Todo Details
                    p(id="errorLabel",align="center")
                    div(data-mini="true")
                        label(for="activityId", data-inline="true",id='labelid') Activity*
                        input(type="text", name="activityName",autocomplete="off", id="activityId", value="")
                    div(data-mini="true")
                        label(for="expectedDateLabel", data-inline="true",id='labelid') Expected Due Date*
                        input(type="date", name="expectedDateName",autocomplete="off", id="expectedDateId", value="")
                    div(data-mini="true")
                        label(for="expectedTimeLabel", data-inline="true",id='labelid') Expected Time*
                        input(type="text", name="expectedTimeName",autocomplete="off", id="expectedTimeId", value="", class="zero" ,maxlength="2")
                    div(data-inline="true")
                        a(href='#addTodoPopupId',  rel="external",data-icon='check', data-role='button', title=' Add ', data-inline="true", id='addTodo') Add
                        a(href='#addTodoPopupId', rel="external",data-icon='back', data-role='button', title=' Back', data-inline="true") Back
                div(data-role="popup",id="recentActivityPopup",data-corners="true",data-theme="b",data-shadow="true",style="width:350px;height:720px;")
                    a(href="#",data-rel="back",data-role="button",data-theme="a",data-icon="delete",data-iconpos="notext",class="ui-btn-right") Close
                    div(data-role="navbar")
                        ul(id="custom-nav-list")
                            li
                                a(href="", rel="external", data-role="tab" , id="") Client Residence Details
                    div(data-role="fieldcontain")
                        label(for="groupid",id="labelid") Group Name : #{accountDetailsArray.getGroupName()}
                        label(id="groupid")
                    div(data-role="horizontal",class="ui-bar ui-grid-c")
                        div(class='ui-block-a')
                            a(href='#', data-icon='arrow-l',data-iconpos="left", data-role='button',id='clientListPrevId',data-inline='true', data-mini='true') Prev
                        div(class='ui-block-b')
                            a(href='#', data-icon='check', data-role='button',id='clientListPageNoId',data-inline='true', data-mini='true')
                        div(class='ui-block-c',style="float:right")
                            a(href='#', data-icon='arrow-r',data-iconpos="right",data-role='button',id='clientListNextId',data-inline='true', data-mini='true') Next
                    div(data-role="content",id="clientListDivId",style = "overflow: auto;")
                input(type="hidden",name="accountIdName",id="accountIdID",value="#{accountDetailsArray.getAccountId()}")
                input(type="hidden",name="selectedDocName",id="selectedDocId")

                div(data-role="horizontal", data-inline="true",class="ui-bar ui-grid-b",style="width:100%;margin-left:-15px;")
                    div(class='ui-block-a',align="center",id="saveButtonDiv",style="width:50%")
                        a(href="JavaScript:saveVerifedDetails('#{accountDetailsArray.getAccountId()}', '#{JSON.stringify(utilQuestions)}')",data-role='button',id='loanProcessCompletedId', data-rel="popup", data-position-to='window', data-inline='true', data-mini='true') Submit Verified Details
                    div(class='ui-block-b',align="center",style="width:24%")
                        a(href=contextPath + '/client/ci/menu',data-role='button',data-icon="home",data-inline='true', data-mini='true') Home
                    div(class='ui-block-c',align="center",style="width:24%")
                        -if (backFlag == 0) {
                            a(href=contextPath + '/client/ci/getGroupsForRecovery', rel="external",data-icon='back', data-role='button', title=' Back', data-inline='true', data-mini='true') Back
                        -}
                        -else if (backFlag == 1) {
                            a(href=contextPath + '/client/ci/pastDueLoans', rel="external",data-icon='back', data-role='button', title=' Back', data-inline='true', data-mini='true') Back
                        -}