doctype html
html(lang = "en")
    head
        title= 'IKLANT-Menu'
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width= ,user-scalable=no')
        meta(http-equiv='Cache-Control', content='no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/Mobile/dialogStyleMobile.css')
        script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile.custom.js')
        script(type='text/javascript', src='/javascripts/constantjs.js')
        script(type='text/javascript', src="/javascripts/newGroup.js")
        script(type='text/javascript', src='/javascripts/validation.js')
        script(type='text/javascript', src='/javascripts/authorization.js')
    body
        form(id='BMFormId')
            div(data-role='page', data-theme='b', id="menuDisplay")
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a")
                    div(class="ui-block-a")
                        img(id='groupIcon', src='/images/iklantMobile.png')
                    div(class="ui-block-b", align="right")
                        a(href=contextPath + '/client/ci/logout',style="margin:0px 0px 0px 20px;vertical-align:middle;")
                            img(id='logoff', src='/images/logoff.png' style="margin-top:10px;")
                div(id="menu", data-theme="b", data-overlay-theme="b", class="ui-content", align="center",style="width:100%")
                    -if (roleId == constantsObj.getFOroleId()) {
                        div(class="ui-block-c",style="width:50%")
                            a(href=contextPath + '/client/ci/getGroupsForRecovery', rel="external", title='NPA Loan Recovery', data-inline='true')
                                img(id='groupIcon', src='/images/NPALoanRecovery.png',height='80',width='80')
                                h3(id="menuLabel") NPA Loans Recovery
                        div(class="ui-block-d",style="width:50%")
                            a(href=contextPath + '/client/ci/NPALRGroups/todo/current', rel="external", title='NPA LR ToDo', data-inline='true')
                                img(id='groupIcon', src='/images/todo.png',height='80',width='80')
                                h3(id="menuLabel") NPALR Todo
                        -}